<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment :: head(~{::title})">
    <meta charset="UTF-8">
    <title>访问错误</title>
</head>
<body>
<!--导航-->
<div th:replace="fragment :: menu(0)"></div>
<br/>
<br/>
<br/>
<div class="m-container-small m-padded-tb-massive">
    <div class="ui error message m-padded-tb-huge">
        <div class="ui contianer">
            <h2 th:text="${status}"></h2>
            <p>对不起，你访问的资源不存在</p><br/><br/>
            <a th:href="@{/}" th:alt="点击返回首页" style="text-decoration: none" class="ui mini teal basic button">点击返回首页</a>
        </div>
    </div>
</div>
<br/>
<br/>
<br/>
<br/>

<!--footer-->
<div th:replace="fragment :: footer"></div>

<!--script-->
<th:block th:replace="fragment :: script">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
</th:block>


</body>
</html>